# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.out
*.test

# Logs
*.log

# IDE
.idea/
.vscode/

# Temp
tmp/
temp/